<div style="background-color: aliceblue;">
<div class="div1">
    <h3> <i>We are leaders in</i> </h3>
    <h1>
        Creative Digital Recruitment
    </h1>
    <div style="background-color: rgb(239, 198, 198);border: 2px solid rgb(239, 198, 198); margin-top: 50px;" >

    </div>
   

    <p style="margin-top: 50px;font-size: 20px;">Based on Surry Hills, the creative hub of Sydney we are surrounded by creativity and that reflects on the 
        type of jobs we recruit for
    </p>

    <button class="findoutbutton">Find out more about us</button>
</div>

</div>